<div class="container-fluid">
  <div class="row">
    <div class="col-12 text-center">
      <h1>{{listing.title}}</h1>
      <div>
       {{'VAT' | translate}} : {{listing.company.bulstat}}
      </div>
      <div>
        <i class="fas fa-city"></i> {{listing.city.name}}
      </div>
      <div>
        {{listing.registerFrom}} - {{listing.registerTo}}
      </div>
    </div>
    <div class="col-12">
      <div>
        Description:
      </div>
      <div [innerHTML]="listing.description">
      </div>
    </div>

    <div class="col-12" *ngIf="!isApplied">
      <button (click)="applyToListing()" class="btn btn-info">{{'Apply' | translate}}</button>
    </div>
    <div class="col-12" *ngIf="isApplied">
      <button disabled="disabled" class="btn btn-info">{{'Applied' | translate}}</button>
    </div>

  </div>
</div>
