<div class="container">
    <div class="d-flex justify-content-center h-100">
      <div class="card mt-5">
        <div class="card-header">
          <h3>Sign In</h3>
          
          <div class="d-flex justify-content-end social_icon">
            <span><i class="fab fa-facebook-square"></i></span>
            <span><i class="fab fa-google-plus-square"></i></span>
            <span><i class="fab fa-twitter-square"></i></span>
          </div>
        </div>
        <div class="alert alert-danger" [hidden]="!hasError">
            Wrong login details!
          </div>
        <div class="card-body">
          
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
              </div>
              <input type="text" [(ngModel)]="loginDetails.email" class="form-control" placeholder="username">
              
            </div>
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
              </div>
              <input [(ngModel)]="loginDetails.password" type="password" class="form-control" placeholder="password">
            </div>
            <div class="form-group">
              <input 
              type="submit"
                (click)="attemptLogin()"
                value="Login"
                class="btn float-right login_btn"
              />
            </div>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-center links">
            Don't have an account?<a href="#">Sign Up</a>
          </div>
          <div class="d-flex justify-content-center">
            <a href="#">Forgot your password?</a>
          </div>
        </div>
      </div>
    </div>
</div>