<div class="container-fluid">
    <div class="row">
        <div class="col-12 ">
            <h1>{{campaign.name}}</h1>
            <div>
                {{campaign.startDate}} - {{campaign.endDate}}
            </div>
        </div>
        <div class="col-12">
            <div>
                Active:
                <span *ngIf="campaign.isActiveRegistration; else elseBlock">registration is Active</span>
                <ng-template #elseBlock>registration is CLOSED</ng-template>
            </div>
        </div>
    </div>
</div>