<div class="row mt-3">
  <!-- My Profile  -->
  <div class="col-xl-3 col-md-6 mb-4 text-light hoverBox">
    <div class="card border-left-primary shadow h-100 py-2 bg-primary">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold  text-uppercase mb-1">
              <h3>
                {{ 'dashboard.my-profile' | translate }}
              </h3>
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-user fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- My Profile End  -->

  <!-- My Listings  -->
  <div class="col-xl-3 col-md-6 mb-4 text-light hoverBox" (click)="redirect('listings')">
      <div class="card border-left-primary shadow h-100 py-2 bg-primary">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold  text-uppercase mb-1">
                <h3>
                  {{ 'dashboard.my-listings' | translate }}
                </h3>
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-user fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- My Listings End  -->
</div>
